[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
flask-ngrok = "*"
python-dotenv = "*"
requests = "*"
flask-restx = "*"

[requires]
python_version = "3.7"
